<%= form_for "follow",  url: follows_path, method: "post", remote: true, html: { id: "follow-form-#{following_id}" } do |f| %>
  <%= f.hidden_field :following_id, value: following_id %>
  <%= f.submit "Follow", class: "btn btn-outline-primary" %>
<% end %>
