<%= form_for "follow", url: follow_path(following_id), method: "delete", remote: true, html: { id: "follow-form-#{following_id}", format: :js } do |f| %>
  <%= f.hidden_field :following_id, value: following_id %>
  <%= f.submit "Following", class: "btn btn-outline-primary active" %>
<% end %>
