<% provide(:activate_nav_home_icon, true) %>
<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <% @users.each do |user| %>
        <% id = user.id %>
        <div class="row">
          <div class="col-12 border-top p-3" href="<%= user_path id %>">
            <%= link_to user_path(user) do %>
              <%= image_tag user.avatar.icon.url, class: "img-circle rounded-circle" %>
              <span class="text-dark"><%= user.name %></span>
            <% end %>
            <div class="float-right">
              <% if @ids_current_user_followings.exclude?(id) %>
                <%= render 'components/follow_btn', following_id: id %>
              <% else %>
                <%= render 'components/unfollow_btn', following_id: id %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate @users %>
    </div>
  </div>
</div>
