<div class="container mt-5">
  <%= image_tag @user.avatar.icon.url, class: "img-circle rounded-circle" %>
  <%= @user.name %>
  <% unless @user == current_user %>
    <div class="float-right">
      <% if current_user.followings.where(following_id: @user.id).empty? %>
        <%= render 'components/follow_btn', following_id: @user.id %>
      <% else %>
        <%= render 'components/unfollow_btn', following_id: @user.id %>
      <% end %>
    </div>
  <% end %>
</div>
