<% name = current_user.name %>
<nav class="navbar navbar-expand sticky-top navbar-light bg-light">
  <ul class="navbar-nav">
    <li class="nav-item mr-1 mr-lg-3" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      <%= link_to root_path, class: "nav-link #{"active" if yield(:activate_nav_home_icon).present?}" do %>
        <i class="fas fa-home">
          <h6 class="mb-0 d-none d-lg-inline-block">Home</h6>
        </i>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to '#', class:"nav-link #{"active" if yield(:activate_nav_search_icon).present?}" do %>
        <i class="fas fa-search">
          <h6 class="mb-0 d-none d-lg-inline-block">Search</h6>
        </i>
      <% end %>
    </li>
  </ul>
  <div class="dropdown ml-auto">
    <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= image_tag current_user.avatar.icon.url, class: "img-circle border border-secondary rounded-circle" %>
      <span class="d-none d-lg-inline"><%= name %></span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
      <%= link_to "My page", user_path(current_user), class: "dropdown-item" %>
      <%= link_to "Setting", '#', class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "Sign out!", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  </div>
</nav>
